html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: system-ui, Arial, sans-serif;
  line-height: 1.5;
  background-color: #1a1b26;
  color: #eee;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  font-weight: 400;
  margin: 0;
  color: #e0af68;
}
a {
  color: #fff;
  text-decoration: underline;
}
.container {
  padding: 1.25rem;
  max-width: 1080px;
  margin: 0 auto;
}
